<div class="grid">
	<div class="card p-fluid col-12">
		<h5>Anderson Cesar Dias</h5>
		<h6>Casado com Bruna Carolina Rezende.</h6>
		<h6>Cristão protestante.</h6>
	</div>
	<div class=" card col-9.5 md:col-9 p-fluid">
		<h5>Infância e Juventude</h5>
		<p>&nbsp;&nbsp;&nbsp;&nbsp; Nascido em 11 de novembro de 1985, em Céu Azul –
			uma pequena cidade no oeste do Paraná – sou o primogênito de Camilo Santiago Dias e Santina Semilda Dias.
			Concluí o ensino médio no Colégio Estadual Monteiro Lobato EFM.<br>
			&nbsp;&nbsp;&nbsp;&nbsp;Em 2004, ao completar 18 anos, alistei-me e cumpri o serviço militar obrigatório por
			um ano.
			Após esse período, iniciei meus estudos na área da Computação, começando com montagem e manutenção de
			computadores.
			Aos poucos, fui aprimorando minhas habilidades e passei a aceitar pequenos trabalhos de manutenção aos
			finais de semana,
			enquanto, durante a semana, trabalhava como repositor de mercadorias e entregador de compras em um mercado
			local.
			<br>&nbsp;&nbsp;&nbsp;&nbsp;Em 2010, comprei uma lan house e, a partir dela, ampliei meus serviços de
			manutenção de computadores, e no final
			do mesmo ano, mudei para Indaiatuba - SP, onde dei continuidade à minha formação realizando
			cursos de Espanhol, Inglês, Tecnologia da Informação, Web Design e Design Gráfico.
			<br>&nbsp;&nbsp;&nbsp;&nbsp;Em 2014, iniciei minha graduação em Ciência da Computação, onde não pude
			termina-la pois a faculdade fechou o curso em 2018.
			<br>&nbsp;&nbsp;&nbsp;&nbsp;Em seguida, comecei uma segunda graduação de técnologo em Análise e
			Desenvolvimento de Sistemas onde conclui com êxito em 2022.
		</p>
	</div>
	<div class="card p-fluid col-2.5 md:col-2.5">
		<img src="../../../assets/layout/images/img_dev_barba.jpg" alt="img"
			style="height: 250px; width: 150px; align-items: end;">
	</div>





<div class="card p-fluid col-12 md:col-12">
	
		<h5>Carreira</h5>
		<p>&nbsp;&nbsp;&nbsp;&nbsp; Curioso e sempre em busca de aprender coisas novas, minha jornada de trabalho começas aos 10 anos de idade onde comecei a trabalhar em uma Oficina de Recuperação de Veiculos, 
		logo vou para uma outra oficina de serviço elétricos de automóveis e ainda depois aos 15 anos mudo minha atividade e vou trabalhar como entregador de jornais, aos 16 anos comecei meu primeiro trabalho com registro em carteira, em uma fabrica de bolacha de mel, onde exerci diversas atividades, após esse periodo fui ajudar minha mãe em um lava rápido que ela havia arrendado, um tempo depois vou trabalhar em um mercado até completar a idade e entrar no serviço militar.
   Após o periodo militar ainda trabalhei em outras areas de atuação uma delas como balançeiro em uma cooperativa local,
    <br>sempre estudando tecnologia da Informação, e nos anos que se seguiram, continuei buscando e aprimorando meus conhecimentos na area.
</p>
</div>

	<div class="card p-fluid col-12">
	
		<h5>Pontos Fortes</h5>
		<li>Servir.</li>
		<li>Curioso.</li>
		<li>Proativo.</li>
		<li>Liderança.</li>
		<li>Determinação.</li>
		<li>Generosidade.</li>
		<li>Solidariedade.</li>
		<li>Apaixonado por conhecimento.</li>
	</div>





</div>