<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
    
        <div class="p-fluid flex justify-content-start" style="margin: 10px;">    <span>Dev_barbudo</span></div>
        <div class="flex justify-content-end"> <img src="assets/layout/images/{{layoutService.config().colorScheme === 'dark' ? 'logo-dark' : 'logo-dark'}}.ico" alt="logo"></div>
       
       
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>


</div>